<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <img src="../../assets/home/Image 22.png">

            <div class="heading">
                <h2>Review your photo</h2>
            </div>
            <div class="paragraph">
                <p>Please check your photo before uploading</p>
            </div>
            <hr>
            <div class="image">
                <!-- <img src="../../assets/image/Group 2070.png"> -->
            </div>
            <!-- <div class="button">
                <button mat-raised-button color="primary" (click)="Next()">Next</button>
            </div> -->
            <div class="button">
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-warning">Warning</button>
            </div>
        </div>
    </div>
</div>
