
<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <img src="../../assets/home/Image 22.png">

            <div class="heading">
                <h2>Congratulations !</h2>
            </div>
            <div class="paragraph">
                <p>Your code matched. You have unlocked <br>the first star.</p>
            </div>
            <!-- <label for="input-1" class="control-label">Two stars:</label>
            <input id="input-1" name="input-1" class="rating rating-loading" value="2" data-min="0" data-max="5" data-step="0.5" data-size="sm"> -->
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <hr>
            <div class="image">
                <p>Your secret code is</p>
                <img src="../../assets/image/Image 24.png">
            </div>
            <div class="button">
                <button mat-raised-button color="primary" (click)="Next()">Claim Reward</button>
            </div>
        </div>
    </div>
</div>
