<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <img src="../../assets/home/Image 22.png">

            <div class="heading">
                <h2>You are a lucky winner !</h2>
            </div>
            <div class="paragraph">
                <p>Your item will be shipped to you within <br>
                    10 business days to your address and <br>
                    your delivery details will be sent to you <br>
                    on your mobile number.</p>
            </div>
            <hr>
            <div class="image">
                <img src="../../assets/Image 14.png" style="height: 100pt;">
                <p>Unlock all five stars to win bumper prize</p>
                <!-- <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div> -->
                <star-rating-comp [starType]="'icon'" [rating]="3"></star-rating-comp>
                <h3>Keep Drinking ! <br>
                     Keep <b style="color: rgb(255,222,0);">Winning</b> !
                </h3>

                <button id="facebook"> <i  class="fa fa-facebook-square"></i><b>Share on Facebook</b></button>
            </div>
        </div>
    </div>
</div>
